.env

.venv/
venv/

__pycache__/
*.pyc

.vscode/

logs/

.idea/

# PyInstaller build artifacts
build/
dist/
*.spec

# Workspace folders
Incoming Orders/
Processed Orders/
.manifest.json

# Local log files
*.log
logs/

documents/